<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802502023578-63qv3c2ej2nldr9c13464verkofikbs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802502023578-63qv3c2ej2nldr9c13464verkofikbs2</string>
	<key>API_KEY</key>
	<string>AIzaSyBuGUqdwAgUnEoVEEavItmJkiJM5ZggArk</string>
	<key>GCM_SENDER_ID</key>
	<string>802502023578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safelify.org</string>
	<key>PROJECT_ID</key>
	<string>safelify</string>
	<key>STORAGE_BUCKET</key>
	<string>safelify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802502023578:ios:6cc524ef63e416e0148223</string>
</dict>
</plist>